@import url('./layout/base.css');
@import url('./sections/header.css');
@import url('./sections/maincontent.css');
@import url('./sections/form.css');
@import url('./sections/footer.css');

@font-face {
    font-family: 'gorafree';
    src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../fonts/gora-free-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}



@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}