.footer {
  height: 77px;
  background: #131415;
  min-width: 1100px;
}
.footer_left {
	display: inline-block;
	float: left;
	width: 33%;
	color: #fff;
	padding-top: 15px;
    font-size: 14px;
}
.description_loft {
	font-weight: bold;
	color: #fff;
}
.description_name {
	font-weight: bold;
	color: #fff;	
}
.footer_center {
	display: inline-block;
	text-align: center;
	width: 33%;
}
.footer_right {
	display: inline-block;
	float: right;
	width: 33%;
	color: #fff;
}
.logo_name {
	margin-top: 20px;
}
.social {
	float: right;
	padding-top: 15px;
}
.social_title {
	font-size: 14px;
	font-weight: bold;
}
.social-icons {
	padding-top: 10px;
}
.social_item {
	width: 26px;
	height: 22px;
	display: inline-block;
	background: url('../../images/sprite.png') 0 0 no-repeat;
}
.social_link--vk {
	background-position: 0 0;
}
.social_link--vk:hover {
	background-position: 0 -70px;
}
.social_link--fb {
	background-position: -70px 0;
}
.social_link--fb:hover {
	background-position: -70px -70px;	
}
.social_link--google {
	background-position: -140px 0;
}
.social_link--google:hover {
	background-position: -140px -70px;	
}
.social_item--tw {
	background-position: -210px 0;
}
.social_item--tw:hover {
	background-position: -210px -70px;
}
.social_item--mail {
	background-position: -280px 0;
}
.social_item--mail:hover {
	background-position: -280px -70px;
}